<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Filament.WPF6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Filament.WPF6.Properties.Settings>
            <setting name="SupportedColors" serializeAs="String">
                <value>Black,White,Cyan,Yellow,Silver,Gray,Red,Lime,Blue,Teal,Purple,Olive,Maroon,Green,Navy,Orange,Gold,RoyalBlue,MediumBlue</value>
            </setting>
            <setting name="DataAccessSelector" serializeAs="String">
                <value>SqlServer</value>
            </setting>
            <setting name="SqlServerNeedsMigration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandNodesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSwissArmyKnifeUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimpleInvColumn1" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ByVendorColumn1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="VendorDefnColumn1" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="FilamentDefnColumn1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SelectedTabIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DescriptionColumnWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DiameterColumnWidth" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="MeasuredOnColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DepthLeftColumnWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="DepthRightColumnWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="RemainingGColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RemainingMColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpoolWidthColumnWidth" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="DrumDiameterColumnWidth" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="WeightColumnWidth" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="StopUsingColumnWidth" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="VerifiedColumnWidth" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="FilamentColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DefinitionColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DateOpenedColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColorColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CurrentInventoryDisplayStyle" serializeAs="String">
                <value>Simple</value>
            </setting>
        </Filament.WPF6.Properties.Settings>
    </userSettings>
</configuration>